.mainContainer {
  width: 1200px;
  margin: 0 auto;
}
.mainContainer nav {
  height: 80px;
  background-color: pink;
  border-bottom: 3px solid orange;
}
.mainContainer nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.mainContainer nav ul li {
  text-align: center;
  width: 100px;
  height: 80px;
  line-height: 80px;
  cursor: pointer;
}
.mainContainer nav ul li a {
  display: block;
  width: 100px;
  height: 100%;
}
.mainContainer nav ul li:hover {
  background-color: skyblue;
}
.mainContainer .content {
  overflow: hidden;
  padding: 20px;
  background-color: skyblue;
}
.mainContainer .content .leftcontent {
  float: left;
  margin-left: 100px;
}
.mainContainer .content .leftcontent p {
  cursor: pointer;
  display: block;
  width: 100px;
  text-align: center;
  margin: 10px;
}
.mainContainer .content .leftcontent p a {
  width: 100%;
  font-size: 22px;
}
.mainContainer .content .leftcontent p:hover {
  background-color: pink;
}
.mainContainer .content .rightcontent {
  float: left;
  border-left: 2px solid orange;
  padding: 50px;
}
.mainContainer .content .rightcontent .showResult {
  position: absolute;
  font-size: 24px;
  color: red;
  left: 700px;
}
.mainContainer .content .rightcontent .items {
  height: 50px;
}
.mainContainer .content .rightcontent .publishdate {
  margin-top: 40px;
}
.mainContainer .content .rightcontent .zishu {
  margin-top: 100px;
}
.mainContainer .content .rightcontent .btn {
  height: 160px;
}
.mainContainer .content .rightcontent .btn .btnok {
  color: green;
  background-color: #ccc;
  font-size: 20px;
  height: 40px;
  width: 70px;
  line-height: 30px;
}
.mainContainer .content .rightcontent .btn .btnok:hover {
  background-color: orange;
  color: #a3f8a3;
}
