.mainContainer {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  background-color: #eee;
  height: 960px;
  padding-bottom: 85px;
}
.mainContainer .rightcontent {
  border-left: 2px solid orange;
  float: left;
  padding-top: 50px;
  padding-left: 200px;
  font-size: 18px;
}
.mainContainer .rightcontent table .left {
  width: 100px;
}
.mainContainer .rightcontent table tr {
  margin-bottom: 10px;
}
.mainContainer .rightcontent table td {
  height: 40px;
  line-height: 40px;
}
.mainContainer .rightcontent table td input {
  width: 250px;
  height: 28px;
  font-size: 16px;
}
.mainContainer .rightcontent table td textarea {
  width: 400px;
  font-size: 18px;
  height: 100px !important;
}
.mainContainer .rightcontent table td .number {
  width: 100px;
}
.mainContainer .rightcontent table td table {
  width: 350px;
}
.mainContainer .rightcontent table td table tr th {
  width: 30px;
}
.mainContainer .rightcontent table td table td {
  height: 20px;
  line-height: 20px;
}
.mainContainer .rightcontent table td select {
  width: 100px;
  height: 30px;
  font-size: 16px;
}
.mainContainer .rightcontent table .rdo input {
  width: 40px;
  height: 20px;
}
.mainContainer .rightcontent .showResult {
  position: absolute;
  font-size: 20px;
  color: red;
  font-weight: 700;
  left: 950px;
  width: 250px;
  background-color: #a3f8a3;
  display: block;
  height: 100px;
  line-height: 100px;
  text-align: center;
  border-radius: 3px;
}
.mainContainer .rightcontent .btn {
  height: 100px;
  padding: 30px;
}
.mainContainer .rightcontent .btn .btnok {
  margin-left: 100px;
  color: orange;
  width: 160px;
  background-color: #a3f8a3;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  height: 50px;
  line-height: 50px;
  border: 0;
  border-radius: 3px;
  transition: all 0.8s;
}
.mainContainer .rightcontent .btn .btnok:hover {
  background-color: orange;
  color: #a3f8a3;
}
