.showDataList {
  width: 100%;
  display: flex;
  justify-content: center;
  border-right: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}
.showDataList td a {
  overflow: hidden;
  width: 150px;
  height: 232px;
  border: 1px solid #e5e5e5;
  background-color: #fff;
  margin: 12px 8px;
  height: 100%;
  display: block;
  color: #737373;
}
.showDataList td a .img-box {
  text-align: center;
  padding-top: 10px;
  display: block;
  overflow: hidden;
  height: 150px;
  margin: 0 auto;
  background-color: #fff;
}
.showDataList td a .img-box img {
  height: 140px;
  width: 100px;
  transition: all 0.5s ease-in-out;
}
.showDataList td a .img-box img:hover {
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
  transform: translate3d(0, -2px, 0);
}
.showDataList td a .info {
  padding: 0 10px;
}
.showDataList td a .info .bookname {
  height: 36px;
  display: inline-block;
}
.showDataList td a .info p {
  display: block;
}
.showDataList td a .info p .author {
  font-size: 12px;
  color: #888888;
}
.showDataList td a .info p .specialPrice {
  font-size: 16px;
  font-weight: 700;
  color: red;
}
.showDataList td a .info p .specialPrice span {
  color: red;
}
.showDataList td a .info p .originPrice {
  font-size: 10px;
  text-decoration: line-through;
  color: #888888 8;
  text-align: right;
}
.showDataList td a .info p .originPrice span {
  text-decoration: line-through;
}
.mainContainer {
  overflow: hidden;
  width: 1200px;
  margin: 0 auto;
}
.mainContainer .topdv {
  overflow: hidden;
}
.mainContainer .topdv .column1 {
  float: left;
  padding-right: 15px;
  width: 250px;
}
.mainContainer .topdv .column1 ul li {
  background-color: #f6f6f6;
  padding: 13px 12px;
}
.mainContainer .topdv .column1 ul li span a {
  font-size: 14px;
  font-weight: 700;
}
.mainContainer .topdv .column1 ul li .adv .booktypeTb td {
  word-wrap: break-word;
  word-break: break-all;
}
.mainContainer .topdv .column1 ul li .adv .booktypeTb td .sas {
  display: inline-block;
  margin-right: 15px !important;
}
.mainContainer .topdv .column1 ul li:nth-child(2n) {
  background-color: #e9e7e6;
}
.mainContainer .topdv .column1 .seemore {
  display: block;
  width: 100%;
  height: 48px;
  width: 250px;
  padding: 8px 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 50px;
  text-align: center;
  background-color: #e9e7e6;
}
.mainContainer .topdv .column2 {
  padding-top: 10px;
  float: left;
  overflow: hidden;
}
.mainContainer .topdv .column2 .xianshi {
  margin-top: 19px;
  overflow: hidden;
  border-bottom: 2px solid #ee554a;
}
.mainContainer .topdv .column2 .xianshi p {
  float: left;
  background: #ee554a;
  color: #fff;
  width: 110px;
  height: 34px;
  text-align: center;
  line-height: 34px;
  font-size: 18px;
}
.mainContainer .topdv .column3 {
  width: 255px;
  float: left;
}
.mainContainer .topdv .column3 .imgdv {
  padding: 10px 0 0 15px;
}
.mainContainer .topdv .column3 .imgdv a img {
  width: 245px;
  height: 113px;
  margin-bottom: 10px;
}
.mainContainer .topdv .column3 .biaoti {
  margin: 4px 0 0 15px;
  overflow: hidden;
  border-bottom: 2px solid #ee554a;
}
.mainContainer .topdv .column3 .biaoti p {
  float: left;
  background: #ee554a;
  color: #fff;
  width: 110px;
  height: 34px;
  text-align: center;
  line-height: 34px;
  font-size: 18px;
}
.mainContainer .topdv .column3 .saleBox {
  padding: 5px 0;
  margin-left: 15px;
  border: 1px solid #dddad8;
}
.mainContainer .topdv .column3 .saleBox .sales {
  margin: 0 auto;
}
.mainContainer .topdv .column3 .saleBox .sales td {
  height: 50px;
  line-height: 50px;
}
.mainContainer .topdv .column3 .saleBox .sales td a {
  overflow: hidden;
  border-bottom: 1px solid #dddad8;
  display: block;
  height: 100%;
}
.mainContainer .topdv .column3 .saleBox .sales td a span {
  height: 50px;
  line-height: 50px;
  float: left;
}
.mainContainer .topdv .column3 .saleBox .sales td a span:hover {
  color: orange;
}
.mainContainer .topdv .column3 .saleBox .sales td a .nam {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 145px;
}
.mainContainer .topdv .column3 .saleBox .sales td a .pric {
  float: right;
}
.mainContainer .commend {
  overflow: hidden;
  margin-top: 40px;
}
.mainContainer .commend .leftContent {
  float: left;
  width: 940px;
  overflow: hidden;
}
.mainContainer .commend .leftContent .biaoti1 {
  border-bottom: 2px solid orange;
  height: 34px;
  line-height: 34px;
}
.mainContainer .commend .leftContent .biaoti1 a {
  float: left;
  width: 110px;
  text-align: center;
  font-size: 14px;
}
.mainContainer .commend .leftContent .biaoti1 .active {
  font-size: 18px;
  background-color: orange;
  color: #fff;
}
.mainContainer .commend .rightContent {
  float: right;
  width: 245px;
  height: 585px;
  margin-left: 15px;
}
.mainContainer .commend .rightContent .biaoti {
  border-bottom: 2px solid orange;
  height: 34px;
  line-height: 34px;
}
.mainContainer .commend .rightContent .biaoti p {
  display: block;
  width: 110px;
  text-align: center;
  font-size: 18px;
  background-color: orange;
  color: #fff;
}
.mainContainer .commend .rightContent .rightdl {
  padding: 8px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  border: 1px solid #e5e5e5;
}
.mainContainer .commend .rightContent .rightdl td {
  width: 299px;
}
.mainContainer .commend .rightContent .rightdl td a {
  padding-bottom: 10px;
  z-index: 9;
  height: 140px;
  border: 1px solid #e5e5e5;
  background-color: #fff;
  margin: 12px 8px 5px;
  display: block;
  color: #737373;
  overflow: hidden;
}
.mainContainer .commend .rightContent .rightdl td a .img-box {
  float: left;
  text-align: center;
  display: block;
  overflow: hidden;
  padding: 3px;
  padding-right: 20px;
  padding-bottom: 10px;
  margin: 0 auto;
  background-color: #fff;
}
.mainContainer .commend .rightContent .rightdl td a .img-box img {
  margin-top: 10px;
  height: 120px;
  width: 80px;
  transition: all 0.5s ease-in-out;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
}
.mainContainer .commend .rightContent .rightdl td a .img-box img:hover {
  transform: translate3d(0, -2px, 0);
}
.mainContainer .commend .rightContent .rightdl td a .info {
  float: left;
}
.mainContainer .commend .rightContent .rightdl td a .info .bookname {
  width: 120px;
  height: 36px;
  display: inline-block;
  font-weight: 700;
  line-height: 36px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.mainContainer .commend .rightContent .rightdl td a .info p {
  height: 10px;
  width: 120px;
  padding: 10px 0;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.mainContainer .commend .rightContent .rightdl td a .info p .author {
  font-size: 12px;
  color: #888888;
}
.mainContainer .commend .rightContent .rightdl td a .info p .specialPrice {
  font-size: 16px;
  font-weight: 700;
  color: red;
}
.mainContainer .commend .rightContent .rightdl td a .info p .specialPrice span {
  color: red;
}
.mainContainer .commend .rightContent .rightdl td a .info p .originPrice {
  font-size: 10px;
  text-decoration: line-through;
  color: #888888 8;
  text-align: right;
}
.mainContainer .commend .rightContent .rightdl td a .info p .originPrice span {
  text-decoration: line-through;
}
.mainContainer .newBook {
  overflow: hidden;
  margin-top: 40px;
}
.mainContainer .newBook .leftContent {
  float: left;
  width: 940px;
  overflow: hidden;
}
.mainContainer .newBook .leftContent .biaoti1 {
  border-bottom: 2px solid orange;
  height: 34px;
  line-height: 34px;
}
.mainContainer .newBook .leftContent .biaoti1 span {
  display: block;
  width: 110px;
  text-align: center;
  font-size: 18px;
  background-color: orange;
  color: #fff;
}
.mainContainer .newBook .rightContent {
  float: right;
  width: 245px;
  height: 585px;
  margin-left: 15px;
}
.mainContainer .newBook .rightContent .biaoti {
  border-bottom: 2px solid orange;
  height: 34px;
  line-height: 34px;
}
.mainContainer .newBook .rightContent .biaoti p {
  display: block;
  width: 110px;
  text-align: center;
  font-size: 18px;
  background-color: orange;
  color: #fff;
}
.mainContainer .newBook .rightContent .new-box {
  padding: 5px 15px;
  border: 1px solid #dddad8;
}
.mainContainer .newBook .rightContent .new-box .newb td {
  height: 50px;
  line-height: 50px;
}
.mainContainer .newBook .rightContent .new-box .newb td a {
  overflow: hidden;
  border-bottom: 1px solid #dddad8;
  display: block;
  height: 100%;
}
.mainContainer .newBook .rightContent .new-box .newb td a span {
  height: 50px;
  line-height: 50px;
  float: left;
}
.mainContainer .newBook .rightContent .new-box .newb td a span:hover {
  color: orange;
}
.mainContainer .newBook .rightContent .new-box .newb td a .nam {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 128px;
}
.mainContainer .newBook .rightContent .new-box .newb td a .pric {
  float: right;
}
