.login_main{
    position: relative;
    height: 800px;
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    img{
        border-radius: 5px;
        position: absolute;
        top: 100px;
        left: -50%;
    }
    .login_box{
        border: 1px solid #aaa;
        padding: 50px;
        position: absolute;
        top: 100px;
        right: 50px;
        ul{
            li{
                p{
                    font-size: 18px;
                }
                height: 60px;
                line-height: 60px;
                
            }
        }
    }
}