* {
  margin: 0;
  padding: 0;
  color: #222;
}
a {
  text-decoration: none;
}
a:hover {
  color: orange;
}
li {
  list-style: none;
}
body {
  font-size: 12px;
  min-height: 100%;
  position: relative;
}
header {
  width: 100%;
  height: 35px;
  background-color: #f9f9f9;
  line-height: 35px;
  border-bottom: 1px solid #eee;
}
header .container {
  width: 1200px;
  margin: 0 auto;
  color: #000;
}
header .container .login {
  display: block;
  float: left;
}
header .container .menu {
  width: 400px;
  float: right;
}
header .container .menu li {
  float: left;
}
header .container .menu li span {
  margin: 0 8px;
  color: #ccc;
}
header .container .menu li a {
  position: relative;
}
header .container .menu li a img {
  left: 20px;
  position: absolute;
  width: 35px;
  height: 35px;
  border-radius: 17px;
  overflow: hidden;
}
.search_container {
  position: relative;
  margin: 0 auto;
  height: 95px;
  padding-top: 30px;
  width: 1200px;
}
.search_container .logo {
  float: left;
}
.search_container .logo .imgdv {
  float: left;
  padding-right: 30px;
  border-right: 1px solid #ccc;
}
.search_container .logo .imgdv img {
  width: 150px;
  height: 50px;
  border-radius: 5px;
  overflow: hidden;
}
.search_container .logo .ddread {
  margin-left: 20px;
  line-height: 50px;
  text-decoration: none;
  color: orange;
  float: left;
  font-size: 20px;
  font-weight: 500;
}
.search_container .search_input {
  float: left;
}
.search_container .search_input input {
  margin-left: 100px;
  width: 400px;
  height: 40px;
  outline: 0;
  border: 3px solid orange;
  font-size: 14px;
  padding-left: 5px;
  line-height: 40px;
  color: #222;
}
.search_container .search_input .searchbtn {
  display: inline-block;
  height: 40px;
  width: 80px;
  text-align: center;
  line-height: 40px;
  background-color: orange;
  border: 3px solid #00c29a;
  font-size: 14px;
  transition: all 0.5s;
}
.search_container .search_input .searchbtn:hover {
  background-color: #00c29a;
  border: 3px solid orange;
}
.search_container .shoppcart {
  float: left;
  margin-left: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.search_container .shoppcart a {
  display: block;
  width: 80px;
  line-height: 40px;
  height: 40px;
  padding: 0 13px;
  text-align: center;
  transition: all 0.5s;
}
.search_container .shoppcart a i {
  font-size: 14px;
}
.search_container .shoppcart a span {
  font-size: 14px;
}
.search_container .shoppcart a:hover {
  background-color: orange;
  color: #fff;
}
.search_container .hotsearch {
  position: absolute;
  top: 80px;
  left: 390px;
}
.search_container .hotsearch li {
  float: left;
  margin-right: 10px;
  color: #aaa;
}
.connav {
  width: 100%;
}
.connav nav {
  margin-bottom: 5px;
  padding-bottom: 5px;
  height: 20px;
  position: relative;
  width: 1200px;
  margin: 0 auto;
}
.connav nav a {
  font-size: 14px;
  font-weight: 700;
}
.connav nav div {
  margin-top: -19px;
  width: 675px;
  margin-left: 265px;
}
.connav nav div ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.connav nav div ul li a {
  border-bottom: 2px solid #fff;
  box-sizing: border-box;
  display: block;
  font-size: 14px;
  font-weight: 700;
  padding: 6px;
  padding-top: 0;
}
.connav nav div ul a:hover {
  border-bottom: 2px solid #00c29a;
}
.connav nav .lasta {
  position: absolute;
  right: 0;
  top: 0;
}
.hr {
  border-bottom: 1px solid #eee;
}
.aboutwe {
  border-top: 2px solid #aaa;
}
.aboutwe .aboutme1 {
  width: 1200px;
  margin: 0 auto;
  height: 300px;
  padding: 100px;
}
.aboutwe .aboutme1 ul li {
  margin-left: 100px;
  float: left;
  width: 250px;
}
.aboutwe .aboutme1 ul li .left {
  margin-right: 20px;
  text-align: center;
  width: 50px;
  height: 50px;
  line-height: 50px;
  float: left;
  box-sizing: border-box;
  background-color: #aaa;
  border-radius: 25px;
}
.aboutwe .aboutme1 ul li .left i {
  font-size: 25px;
  color: #fff;
  vertical-align: middle;
}
.aboutwe .aboutme1 ul li .right {
  float: left;
  width: 150px;
}
.aboutwe .aboutme1 ul li .right ul li {
  margin: 0;
  line-height: 24px;
}
.aboutwe .aboutme1 ul li .right ul li:nth-child(1) {
  font-size: 18px;
  line-height: 30px;
}
.aboutwe .aboutme1 ul li .right ul li:nth-child(2) {
  line-height: 30px;
  font-size: 14px;
}
.aboutwe .aboutme1 ul li .right ul li:nth-child(4),
.aboutwe .aboutme1 ul li .right ul li:nth-child(5) {
  height: 50px;
  line-height: 50px;
}
.aboutwe .aboutme1 ul li .right ul li:nth-child(4) i,
.aboutwe .aboutme1 ul li .right ul li:nth-child(5) i {
  font-size: 30px;
  margin-right: 0px;
  vertical-align: middle;
  margin-right: 10px;
  color: #aaa;
}
.aboutwe .aboutme1 ul li .right ul li:nth-child(4) i:hover,
.aboutwe .aboutme1 ul li .right ul li:nth-child(5) i:hover {
  color: orange;
}
.aboutwe .aboutme1 ul li .right ul #wechat {
  position: relative;
}
.aboutwe .aboutme1 ul li .right ul #wechat #imgbox {
  position: absolute;
  left: 100px;
  top: -10px;
  width: 90px;
  display: none;
}
.aboutwe .aboutme1 ul li .right ul #wechat #imgbox img {
  width: 100px;
}
footer {
  box-sizing: border-box;
  padding: 30px;
  text-align: center;
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 153px;
  width: 100%;
  background-color: #f5f5f5;
}
footer div {
  padding: 6px;
}
