.mainContainer {
  font-size: 16px;
  padding-bottom: 0;
}
.mainContainer .leftImg .biaoti {
  height: 50px;
  margin-top: 20px;
  border: 1px solid #ccc;
  width: 728px;
  overflow: hidden;
}
.mainContainer .leftImg .biaoti ul {
  padding-left: 60px;
  background-color: #e9e9e9;
  overflow: hidden;
}
.mainContainer .leftImg .biaoti ul li {
  line-height: 50px;
  float: left;
  margin-right: 88px;
}
.mainContainer .leftImg .biaoti ul li:last-child {
  margin-right: 0;
}
.mainContainer .leftImg .addl {
  border: 1px solid #ccc;
  margin-bottom: 20px;
}
.mainContainer .leftImg .addl td {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border-bottom: 1px solid #ccc;
}
.mainContainer .leftImg .addl td div {
  padding: 0 10px;
  margin: 10px;
  height: 30px;
  line-height: 30px;
}
.mainContainer .leftImg .addl td div span {
  text-align: center;
  margin: 0 5px;
  width: 100px;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.mainContainer .leftImg .addl td div:hover {
  background-color: #ffce89;
}
.mainContainer .leftImg .addl #addlink {
  margin-left: 400px;
  color: blue;
}
.mainContainer .leftImg .addAddress {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  height: 400px;
  width: 600px;
  border: 2px solid #ccc;
  background-color: #fff;
}
.mainContainer .leftImg .addAddress .title {
  background-color: #aaa;
  height: 40px;
  line-height: 40px;
  overflow: hidden;
}
.mainContainer .leftImg .addAddress .title span {
  float: left;
  font-size: 16px;
}
.mainContainer .leftImg .addAddress .title a {
  box-sizing: border-box;
  font-size: 20px;
  padding: 0 10px;
  float: right;
  height: 40px;
}
.mainContainer .leftImg .addAddress .userinfo {
  padding: 70px;
}
.mainContainer .leftImg .addAddress .userinfo td {
  line-height: 25px;
  padding-bottom: 20px;
}
.mainContainer .leftImg .addAddress .userinfo td input {
  outline: none;
  width: 225px;
  height: 18px;
}
.mainContainer .leftImg .addAddress .userinfo .left {
  padding-right: 20px;
}
.mainContainer .leftImg .addAddress .userinfo .saveInfo {
  width: 120px;
  display: block;
  background-color: #e74649;
  text-align: center;
  border-radius: 2px;
  height: 22px;
  line-height: 22px;
  color: #fff;
  margin-left: 100px;
}
