body{
    background: url(../images/cool-background\ \(2\).png) !important;
}
.mainContainer{
    height:700px;
    width:1200px;
    margin: 0 auto;
    padding-top: 20px;

    // background-color: #f6f9fd;
    border-top: 1px solid #eee;
    position: relative;
    overflow: hidden;
    padding-bottom: 153px;
    h1{
        display: inline-block;
        width: 150px;
        margin-left: 800px;
    }
    .leftImg{
        float: left;
        margin-top: -28px;
        #slider{
            position: relative;
            width: 600px;
            height: 500px;
            margin-top: 20px;
            img{
                position: absolute;
                overflow: hidden;
                left: 0;
                top: 0;
                border-radius: 5px;
                width: 600px;
                height: 500px;
                transition: all 1s;
                opacity: 0;
            }
            .active{
                opacity: 1;
            }
        }
        #addlink{
            margin-left: 400px;
            color: blue;
        }
    }
    .registerBox{
        float: right;
        
        // background-color: #fff;
        table{
            font-size: 18px;
            border-spacing: 2px;
            width: 100%;
            border: 1px solid #aaa;
            tbody{
                vertical-align: middle;
                tr{
                    td{
                        height:50px;
                        line-height: 50px;
                        .xiugai{
                            margin-left: 100px;
                            border-radius: 5px;
                            height: 50px;
                            width: 60px;
                            background-color: #999b84;
                            text-align: center;
                            line-height: 50px;
                            font-size: 22px;
                            outline: none;
                            border:0;
                            cursor: pointer;
                        }
                        .xiugai:hover, .registerbtn:hover,.registerbtn1:hover
                        {
                            background-color: orange;
                        }
                        .registerbtn{
                            margin-left: 100px;
                            width: 200px;
                            height: 50px;
                            border-radius: 5px;

                            background-color: #61b15a;
                            text-align: center;
                            line-height: 50px;
                            font-size: 22px;
                            outline: none;
                            border:0;
                            cursor: pointer;
                        }
                        .registerbtn1{
                            margin-left: 20px;
                            width: 200px;
                            height: 50px;
                            border-radius: 5px;

                            background-color: #61b15a;
                            text-align: center;
                            line-height: 50px;
                            font-size: 22px;
                            outline: none;
                            border:0;
                            cursor: pointer;
                        }
                    }
                    .left{
                        width: 150px;
                        text-align: right;
                        padding-right: 20px;
                    }
                    .right{
                        width: 500px;
                        input{
                            height: 50px;
                            outline: 0px;
                        }
                    }
                } 
            }
          
        }
    }
}