body {
  background: url(../images/cool-background\ \(2\).png) !important;
}
.mainContainer {
  height: 700px;
  width: 1200px;
  margin: 0 auto;
  padding-top: 20px;
  border-top: 1px solid #eee;
  position: relative;
  overflow: hidden;
  padding-bottom: 153px;
}
.mainContainer h1 {
  display: inline-block;
  width: 150px;
  margin-left: 800px;
}
.mainContainer .leftImg {
  float: left;
  margin-top: -28px;
}
.mainContainer .leftImg #slider {
  position: relative;
  width: 600px;
  height: 500px;
  margin-top: 20px;
}
.mainContainer .leftImg #slider img {
  position: absolute;
  overflow: hidden;
  left: 0;
  top: 0;
  border-radius: 5px;
  width: 600px;
  height: 500px;
  transition: all 1s;
  opacity: 0;
}
.mainContainer .leftImg #slider .active {
  opacity: 1;
}
.mainContainer .leftImg #addlink {
  margin-left: 400px;
  color: blue;
}
.mainContainer .registerBox {
  float: right;
}
.mainContainer .registerBox table {
  font-size: 18px;
  border-spacing: 2px;
  width: 100%;
  border: 1px solid #aaa;
}
.mainContainer .registerBox table tbody {
  vertical-align: middle;
}
.mainContainer .registerBox table tbody tr td {
  height: 50px;
  line-height: 50px;
}
.mainContainer .registerBox table tbody tr td .xiugai {
  margin-left: 100px;
  border-radius: 5px;
  height: 50px;
  width: 60px;
  background-color: #999b84;
  text-align: center;
  line-height: 50px;
  font-size: 22px;
  outline: none;
  border: 0;
  cursor: pointer;
}
.mainContainer .registerBox table tbody tr td .xiugai:hover,
.mainContainer .registerBox table tbody tr td .registerbtn:hover,
.mainContainer .registerBox table tbody tr td .registerbtn1:hover {
  background-color: orange;
}
.mainContainer .registerBox table tbody tr td .registerbtn {
  margin-left: 100px;
  width: 200px;
  height: 50px;
  border-radius: 5px;
  background-color: #61b15a;
  text-align: center;
  line-height: 50px;
  font-size: 22px;
  outline: none;
  border: 0;
  cursor: pointer;
}
.mainContainer .registerBox table tbody tr td .registerbtn1 {
  margin-left: 20px;
  width: 200px;
  height: 50px;
  border-radius: 5px;
  background-color: #61b15a;
  text-align: center;
  line-height: 50px;
  font-size: 22px;
  outline: none;
  border: 0;
  cursor: pointer;
}
.mainContainer .registerBox table tbody tr .left {
  width: 150px;
  text-align: right;
  padding-right: 20px;
}
.mainContainer .registerBox table tbody tr .right {
  width: 500px;
}
.mainContainer .registerBox table tbody tr .right input {
  height: 50px;
  outline: 0px;
}
