.SCartcontainer {
  font-size: 14px;
  width: 1200px;
  margin: 0 auto;
  padding-bottom: 153px;
}
.SCartcontainer .head {
  box-sizing: border-box;
  padding: 15px;
  height: 100px;
  border-bottom: 4px solid #ff6666;
}
.SCartcontainer .head .logo {
  float: left;
}
.SCartcontainer .head .logo img {
  float: left;
  width: 200px;
  border-radius: 3px;
}
.SCartcontainer .head .logo span {
  height: 70px;
  font-size: 28px;
  line-height: 70px;
  width: 100px;
}
.SCartcontainer .head .jindu {
  margin-left: 50px;
  float: left;
}
.SCartcontainer .head .jindu span {
  display: inline-block;
  width: 200px;
  height: 40px;
  text-align: center;
  margin: 15px 10px;
  line-height: 40px;
  background-color: #f6f6f6;
  font-size: 14px;
  font-weight: 700;
}
.SCartcontainer .head .jindu .current {
  color: #fff;
  background-color: #ff6666;
}
.SCartcontainer .listBody .biaoti {
  height: 50px;
  margin-top: 20px;
  border: 1px solid #ccc;
}
.SCartcontainer .listBody .biaoti ul {
  background-color: #e9e9e9;
  overflow: hidden;
  padding-left: 250px;
}
.SCartcontainer .listBody .biaoti ul li {
  line-height: 50px;
  float: left;
  margin-right: 130px;
}
.SCartcontainer .listBody img {
  width: 600px;
  display: block;
  margin: 0 auto;
  border-radius: 5px;
  overflow: hidden;
}
.SCartcontainer .listBody .CartData {
  border: 1px solid #ccc;
  width: 100%;
}
.SCartcontainer .listBody .CartData td .items {
  overflow: hidden;
  display: flex;
  justify-content: space-around;
}
.SCartcontainer .listBody .CartData td .items div {
  height: 150px;
  width: 150px;
  margin: 20px 20px;
  line-height: 150px;
}
.SCartcontainer .listBody .CartData td .items div img {
  width: 100px;
  height: 140px;
}
.SCartcontainer .listBody .CartData td .items div span {
  width: 80%;
}
.SCartcontainer .listBody .CartData td .items div .Mathbtn1 {
  display: inline-block;
  background: url(../images//减.png) no-repeat center center;
  background-size: 20px;
  border: 1px solid #ccc;
  width: 20px;
  height: 20px;
}
.SCartcontainer .listBody .CartData td .items div .Mathbtn2 {
  display: inline-block;
  background: url(../images//加.png) no-repeat center center;
  background-size: 20px;
  border: 1px solid #ccc;
  width: 20px;
  height: 20px;
}
.SCartcontainer .listBody .CartData td .editItems {
  overflow: hidden;
  display: flex;
  justify-content: space-around;
}
.SCartcontainer .listBody .CartData td .editItems div {
  height: 150px;
  width: 150px;
  margin: 20px 20px;
  line-height: 150px;
}
.SCartcontainer .listBody .CartData td .editItems div img {
  width: 100px;
  height: 140px;
}
.SCartcontainer .listBody .CartData td .editItems div span {
  width: 80%;
}
.SCartcontainer .CartBottom {
  height: 80px;
  padding-left: 20px;
  border: 1px solid #ccc;
}
.SCartcontainer .CartBottom div {
  margin: 0 auto;
  width: 100%;
  line-height: 80px;
}
.SCartcontainer .CartBottom div .allselect {
  width: 70px;
  float: left;
}
.SCartcontainer .CartBottom div .pick {
  width: 120px;
  float: left;
}
.SCartcontainer .CartBottom div .price {
  width: 200px;
  float: right;
}
.SCartcontainer .CartBottom div .price .realprice {
  font-size: 20px;
  color: #ff6666;
}
.SCartcontainer .CartBottom div .go {
  width: 100px;
  float: right;
}
.SCartcontainer .CartBottom div .go a {
  font-size: 16px;
  font-weight: 700;
  display: block;
  height: 80px;
  width: 100px;
  text-align: center;
  background-color: #e54346;
  transition: all 0.4s;
}
.SCartcontainer .CartBottom div .go a:hover {
  background-color: orange;
  color: #fff;
}
