.SCartcontainer{
    font-size: 14px;
    width: 1200px;
    // background-color: #ccc;
    margin: 0 auto;
    padding-bottom: 153px;
    .head{
        box-sizing: border-box;
        padding: 15px;
        height: 100px;
        border-bottom: 4px solid #ff6666;
        .logo{
            float: left;
            img{
                float: left;
                width: 200px;
                border-radius: 3px;
            }
            span{
                height: 70px;
                font-size: 28px;
                line-height: 70px;
                width: 100px;
            }
        }
        .jindu{
            margin-left: 50px;
            float: left;
            span{
                display: inline-block;
                width: 200px;
                height: 40px;
                text-align: center;
                margin: 15px 10px;
                line-height: 40px;
                background-color: #f6f6f6;
                font-size: 14px;
                font-weight: 700;
            }
            .current{
                color: #fff;
                background-color: #ff6666;
            }
        }
    }
    .listBody{
         .biaoti{
            height: 50px;
            margin-top: 20px;
            // background-color: pink;
            border: 1px solid #ccc;
            ul{
                background-color: #e9e9e9;
                overflow: hidden;
                padding-left: 250px;
                li{
                    line-height: 50px;
                    float: left;
                    margin-right: 130px;
                }
            }
        }
        .CartData{
            // background-color:#7fffd4;
            border: 1px solid #ccc;
            width: 100%;
            td{
                .items{
                    overflow: hidden;
                    display: flex;
                    justify-content: space-around;
                    
                    div{
                        height: 150px;
                        width: 150px;
                        margin: 20px 20px;
                        line-height: 150px;
                        img{
                            width: 100px;
                            height: 140px;
                        }
                        span{
                            width: 80%;
                        }
                        .Mathbtn1{
                            display: inline-block;
                            background: url(../images//减.png) no-repeat center center;
                            background-size: 20px;
                            border:1px solid #ccc;
                            width:20px;
                            height: 20px;
                            
                        }
                        .Mathbtn2{
                            display: inline-block;
                            background: url(../images//加.png) no-repeat center center;
                            background-size: 20px;
                            border:1px solid #ccc;
                            width:20px;
                            height: 20px;
                        }
                    }
                }
                .editItems{
                    overflow: hidden;
                    display: flex;
                    justify-content: space-around;
                    div{
                        height: 150px;
                        width: 150px;
                        margin: 20px 20px;
                        line-height: 150px;
                        img{
                            width: 100px;
                            height: 140px;
                        }
                        span{
                            width: 80%;
                        }
                    } 
                }
            }
        }


    }
    .CartBottom{
        // width: 100%;
        height: 80px;
        padding-left: 20px;
        border: 1px solid #ccc;
        div{
            margin: 0 auto;
            width: 100%;
            line-height: 80px;
            .pick{
                width: 100px;
                float: left;
            }
            .price{
                width: 200px;
                float: right;
                .realprice{
                    font-size: 20px;
                    color: #ff6666;
                }
            }
            .go{
                width: 100px;
                float: right;
                a{
                    font-size: 16px;
                    font-weight: 700;
                    display: block;
                    height: 80px;
                    width: 100px;
                    text-align: center;
                    // padding: 10px;
                    background-color: #e54346;
                    transition: all 0.4s;
                }
                a:hover{
                    background-color: orange;
                    color: #fff;
                }
            }
            .pick{
                width: 100px;
                // float: right;
                a{
                    display: block;
                    height: 80px;
                    width: 100px;
                    text-align: center;
                    // padding: 10px;
                    background-color: #e54346;
                    transition: all 0.4s;

                }
                a:hover{
                    background-color: orange;
                    color: #fff;
                }
            }
            a:hover{
                color: #fff;
            }
        }
    }
   
}