
.mainContainer{
    width: 1200px;
    height: 800px;
    margin: 0 auto;
    nav{
        height: 80px;
        background-color: pink;
        border-bottom: 3px solid orange;
        ul{
            display: flex;
            justify-content: space-around;
            align-items: center;
            li{
                text-align: center;
                width: 100px;
                height: 80px;
                line-height: 80px;
                cursor: pointer;
                a{
                    display: block;
                    width: 100px;
                    height: 100%;
                }
            }
            li:hover{
                background-color: skyblue;
            }
        }
    }
    .content{
        padding: 20px;
        background-color: skyblue;
         .leftcontent{
            float: left;
            margin-left: 100px;
            border-right: 2px solid orange;
            p{
                cursor: pointer;
                display: block;
                width: 100px;
                text-align: center;
                margin: 10px;
                a{
                    width: 100%;
                    font-size: 22px;
                }
            }
            p:hover{
                background-color: pink;
            }
            height: 800px;
            
         }
    }
}